.terminal-input {
  background-color: transparent;
  border: none;
  color: #dcdfe4; /* Base0 */
  outline: none;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.terminal {
  position: relative;
  background-color: #282c34; /* Base03 */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 80%; /* Set the terminal width */
  max-width: 800px; /* Limit the maximum width */
  height: 80%; /* Set the terminal height */
  max-height: 500px; /* Limit the maximum height */
  margin: 0;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: #dcdfe4; /* Base0 */
  display: flex;
  flex-direction: column;
}

.terminal-body {
  padding: 20px;
  white-space: pre-wrap;
  flex-grow: 1;
  overflow: auto;
}

.terminal-tab {
  background-color: #282c34; /* Base02 */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
  position: absolute;
  top: -25px;
  width: 150px;
  left: 0px;
  z-index: 1;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.terminal-tab::before {
  content: "";
  background-color: transparent;
  position: absolute;
  bottom: -2px;
  left: 170px;
  height: 10px;
  width: 10px;
  border-top-left-radius: 10px;
  transform: rotate(270deg);
  box-shadow: 0 -8px 0 0 #282c34;
}

.terminal-prompt {
  color: #61afef; 
}


.terminal-body::-webkit-scrollbar {
  width: 8px;
}

.terminal-body::-webkit-scrollbar-track {
  background-color: #282c34; /* Base03 */
  border-radius: 4px;
}

.terminal-body::-webkit-scrollbar-thumb {
  background-color: #3a3f4b; /* Base02 */
  border-radius: 4px;
}

.terminal-body::-webkit-scrollbar-thumb:hover {
  background-color: #4b5162; /* Slightly lighter than Base02 */
}
