.terminal-input {
  background-color: transparent;
  border: none;
  color: #00ff00;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.terminal {
  background-color: #1e1e1e;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: #00ff00;
  display: flex;
  flex-direction: column;
}

.terminal-header {
  background-color: #00a600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 10px;
}

.terminal-body {
  padding: 20px;
  white-space: pre-wrap;
  flex-grow: 1;
  overflow: auto;
}
